
    <nav >
        <ul>
            <li> <a href="/" class="btn btn-warning"> Home </a></li>
            <li> <a href="/productos" class="btn btn-warning"> Products </a></li>
        </ul>
    </nav>